<main role="main" class="container">
    <div class="jumbotron">
    <h1 class="display-4">Contact List</h1>
    <p class="lead">Gerencie seus contatos de qualquer lugar!</p>
    <p><%= link_to  'Crie sua conta', '#', class: 'btn btn-primary btn-lg' %></p>
    </div>
</main>